.card-colour, .card-body {
    background-color: #002966;
}

.navbar {
    background-color: #001a33;
}

body {
    background-image: url('/resources/static/img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

div.addNotice, div.categories {
    position: fixed;
}

div.categories {
    margin-top: 80px;
}